body {
	background-image: url("pie_sky.jpg");
	color: #000000;
	font-family: "Lucida Sans Unicode", Helvetica, Arial, serif;
	font-size: 11pt;
	height: auto;
}

.bold{
	font-weight: bold;
}

a {
	color: #ffffff;
	font-size: 16px;
}

h1, h2, h3 {
	font-family: Helvetica, "Lucida Sans Unicode", Arial, sans-serif;
	width: 35%;	
	margin: 0 auto;
	text-align: center;
}

h1 {
	font-size: 26pt;
	font-weight: light;
}

h2 {
	font-size: 18pt;
	font-weight: normal;
}

h3 {
	padding-top: 0px;
}

.heading {
	color: #ff6347;
	padding-left:4px;
}

p {
	width: 35%;	
	margin: 0 auto;
	text-align: center;
	padding-top: 4%;
}

.pie-link{
	background-color: #ff6347;
	width: 50%;
	height: 20%;
	/*margin: 0 auto;*/
	margin-left: 25%;
	text-align: center;
	display: block;
    	position: fixed;
    	bottom:0;
    	margin-bottom: 0;
}

pre{
	width: 35%;	
	margin: 0 auto;
	text-align: center;
}

table{
	width: 35%;	
	margin: 0 auto;
	text-align: center;
}

.seperator{
	width: 100%;
    	background-color: #eceff1;
	height: 1px;
}

.sub {
	text-align: left;
}

.subtitle{
	color: #ffffff;
	font-size: 14px;
	width: 20%;
	padding-left:4px;
}

.strike-through {
	text-decoration: line-through;
}

.vert-align {
	position: relative;
	margin-top : 2%;
}
