/*
Web Programming Step by Step, Homework 1: Recipe
This file contains the stylistic information for my pie recipe page.
*/

.abbr {
	text-decoration: underline;
}

/* Tooltip text */
.abbr .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
 
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.abbr:hover .tooltiptext {
    visibility: visible;
}

.blockquote {
	background-color: #FFFFA8;
	font-style: italic;
}

body {
	background-image: url(hw1_support_files/silverware.jpg);
	background-repeat: repeat;
	background-attachment: fixed;
	min-height: 35%;
	color: #404040;
	font-family: Georgia, Garamond, serif;
	font-size: 11pt;
}

.bold{
	font-weight: bold;
}

.comments{
	background-color:  #FFFFA8;
	margin-left: 20px;
	width: 85%;
}

.comments p{
	font-style: italic;
}

h1, h2, a {
	color: #A4A400;
}

h1, h2 {
	background-color: #F0F0F0;
	font-family: "Lucida Sans Unicode", Helvetica, Arial, sans-serif;
	text-decoration: underline;
}

h1 {
	font-size: 22pt;
	text-align: center;
}

h2 {
	font-size: 18pt;
	font-weight: normal;
}

.heading {
	color: #A4A400;
	background-color:  #F0F0F0;
}

li.no-style {
    list-style-type: none;
}

.main {
	text-align: center;
}

.pie-marker-img {
	list-style-image: url('pie_bullet.png');
}

.sub {
	text-align: left;
}

.strike-through {
	text-decoration: line-through;
}
